body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-body {
    background-color: #e0f7fa;
}

.signup-body {
    background-color: #e1f5fe;
}

.login-container, .signup-container {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    height: auto;
    align-items: center;
}

.login-form, .signup-form {
    padding: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #190f49;
    text-align: center;
}

h2 {
    color: #190f49;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #190f49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #11175c;
}

.login-image, .signup-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f7fa;
    padding: 20px;
}

.water-drop {
    max-width: 100%;
    height: auto;
}

a {
    color: #0288d1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 10px;
}
